@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: #B6EAF1;
}

.navbar__container {
    height: 100px;
    margin-left: 3em;
    margin-right: 3em;
    align-items: center;
    display: flex;
    justify-content: space-evenly;

    font-size: 1vw;
}

.navbar__logo {
    height: 45%;
    /* width: 12%; */
    /* min-width: ; */
    max-width: 40%;


    object-fit: contain;
}

.navbar__logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* .navbar__content{
    margin-right: 1rem;
} */



.navbar_connect {
    /* margin-left: 3rem; */
    min-width: 11%;
    display: flex;
    /* margin-left: 3rem; */
    max-width: 50%;
    /* justify-content: end; */
    /* margin-right: 3rem; */
    gap: 1rem;
}

.container {
    /* margin: 4rem auto; */
    width: 100%;
    min-height: 100vh;
    padding: 20px 10px;
    /* background: #e5e5e5; */
}

.chatbox_container {
    background-color: #B6EAF1;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 138vh;
    padding-top: 13vh;
    border-radius: 10px;
    /* overflow: scroll; */
}

.chatbox_msg_cont {
    position: relative;
    /* float: right; */
}

/* .chatbox_ownmsg {
    font-size: 10px;
    text-align: right;
    margin-top: 10px
}

.chatbox_othermsg {
    position: relative;
    padding: 7px 20px;
    background: #E5E5EA;
    border-radius: 5px;
    color: #000;
    float: left;
    width: auto;
    max-width: 80%;
    margin-left: 10px;
    margin-bottom: 15px;
    clear: both;
} */

.chatbox_msg {

    background-color: #1e94e9;

    float: right;
    width: auto;
    max-width: 80%;
    margin-right: 26px;
    position: relative;
    padding: 7px 20px;
    color: #fff;

    border-radius: 5px;
    margin-bottom: 15px;
    clear: both
}

.chatbox_title {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2rem;
    font-size: 0.7em;
    /* margin: 0.5rem auto; */
}

.chatbox_display {
    background-color: white;
    width: 85%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 1em;
    border: 1px solid black;
}

.chatbox_input {
    /* position: relative; */
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"] {
    width: 70%;

    height: 7vh;
    margin-right: 1rem;
}


/* form {
    top: 50%;
    right: 0;
} */






.btn {
    color: #ffffff;
    border-style: none;
    border-radius: 30px;
    padding: 10px 15px;
    background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%);
    margin-top: 18px;
    margin-bottom: 10px;
    font-size: 16px;
    transition: all 0.3s linear;
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn a:visited {
    text-decoration: none;
}

.btn:hover {
    transform: translateY(-2px);
}



footer {
    /* margin-left: 1rem; */
    background-color: #B6EAF1;
    display: flex;
    justify-content: space-evenly;
    color: black;
    /* gap: 2rem; */
    font-weight: bolder;
    height: 88px;
    align-items: center;
    font-family: RobotoFlex, sans-serif;
}

footer div {
    margin: 0 2em;
    font-size: 0.8em;
}

@media screen and (max-width: 768px) {

    /* 
    .chatbox_container {
        font-size: 10px;
        height: 122vh;
        padding-top: 19vh;
    }

    .chatbox_input {
        display: flex;
    }

    input[type="text"] {
        margin-right: 4rem;
        width: auto;
    } */

}

@media screen and (max-width: 576px) {


    /* .chatbox_container {
        padding-top: 14vh;
        width: 100%;
        height: 111vh;
    }

    .chatbox_display {
        font-size: 11px;
    }

    .chatbox_input {
        margin-left: 2rem;
    }

    .btn {
        padding: 7px 10px;
        font-size: 11px;

    }

    footer {
        gap: 0;
    } */
}

@media screen and (max-width: 360px) {
    input[type="text"] {
        width: 60%;
        height: 10vh;
    }


    /* .chatbox_title {
        font-size: 10px;
        margin-left: 1rem;
    }

    .chatbox_input {
        margin-left: 1rem;
    }

    .chatbox_container {
        padding-top: 13vh;
        padding-bottom: 2rem;
        width: 100%;
    }

    .chatbox_display {
        width: 90%;
        height: 70%;
    }

    .btn {
        padding: 4px 10px;
        font-size: 10px;
    }

    input[type="text"] {
        margin-right: 0;
    }



    footer div {
        margin: 0 1rem;
    } */
}




@media screen and (max-width: 992px) {
    /* .chatbox_container {
        width: 80%;
        height: 156vh;
    } */
}

@media screen and (max-width: 1200px) {
    /* .chatbox_container {
        width: 80%;
        padding-top: 18vh;
    } */
}

@media screen and (max-width: 400px) {
    .chatbox_container {
        width: 100%;
    }
}