body{
    margin: 0;
    font-family: roboto, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
  }
  .navbar{
      background-color: #B6EAF1;
  }
.navbar__container{
    height: 100px;
    /* margin: 0 4rem;; */
    align-items: center;
display: flex;
/* gap: 2rem; */
  }
  nav ul {
      display: flex;
      list-style:none;
      gap:3.5rem;

  }
  nav ul li{
    font-family: RobotoFlex,sans-serif;
    font-weight: bolder;
  }
  .navbar__logo {
    height: 45%;
    width: 12%;
    margin-left: 4rem;
    object-fit: contain;
  }
  .navbar__logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .navbar__content{
      margin-right: 1rem;
  }
  .navbar_connect{
    /* margin-left: 3rem; */
    display: flex;
    margin-left: 3rem;
    justify-content: end;
    /* margin-right: 3rem; */
    gap: 1rem;
  }
  input {
    border: none;
    outline: none;
    padding: 10px 5px;
    background-color: #f6f6f6;
    flex: 1;
  }
  #connect{
      /* margin: 0 0.5rem;
    font-family: RobotoFlex,sans-serif;
    font-weight: bolder;
      border-radius: 5px;
      background-color:#0b7dda ;
       border-color: #0b7dda;
      padding: 10px 20px;
      text-decoration: none;
  text-align: center;
  color: #fff; */
 /* display: block; */
  text-align: center;
  width: 100px;
  color: #fff;
  border-radius: 30px;
  padding: 10px 10px;
  background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%);
  /* margin-top: 30px; */
  /* margin-bottom: 10px; */
  font-size: 16px;
  transition: all 0.3s linear;
  }
  .navbar__icons{
     display: flex;
  margin-left: 10rem;
  gap: 1rem;
  }

  .hero__image {
    width: 100%;
    height: 400px;
    object-fit: contain;
    background:rgb(31, 31, 31);
    overflow: hidden;
    /* background-color:rgba(248,247,216,0.7);  */
  }

    
    

  .hero__image img {
    height: 100%;
    width: 100%;
    
    object-fit: cover;
    opacity: 0.4;
  }
  /* Top right text */
.hero__text {
  margin-top: 25px;
    width: 100%;
    margin-left: auto;
margin-right: auto;
    position: absolute;
    top: 7rem;
    left: 0;
right: 0;
    color: white;
    text-align: center;
    /* margin-bottom: 0; */
  }
  .hero__text p{
margin-bottom: 1rem;
    font-family: RobotoFlex,sans-serif;
    font-size: 35px;
    /* font-style:italic; */
    font-weight: bolder;
    /* line-height: 75px; */
    letter-spacing: 0em;
    text-align: justified;
    
  }

  .hero__subtext p{
     margin:0;
     color: rgb(211, 211, 211);
      font-size: 23px;
  }
  .hero_btn button{
    padding: 16px;
      background-color:  #0b7dda;
      /* background-color: #B6EAF1; */
      border: none;
      outline: none;
      border-radius: 5px 0 0 5px;
      /* background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%); */

  }
  .hero_btn{
      margin-top: 20px;
  }
  .hero_btn button a{
    font-family: RobotoFlex,sans-serif;
    font-weight: bolder;
    font-size: 20px;
      color: white;
    text-decoration: none;
  }
  .hero_btn a:visited {
    text-decoration: none;
  }
  .dropMenu {
    position: absolute;
    display: inline-block;
 }
 .dropMenu button {
    padding: 16px;
    font-family: RobotoFlex,sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    border-left: 0.5px solid black;
    border-radius: 0px 5px 5px 0px;
 }
 /* .hero_btn{
   background:#B6EAF1;
   overflow: hidden;
 } */
 .btn:hover, .dropMenu:hover .btn  {
    background-color: #1b6698;
  }
.started_container{
    text-align: center;
    margin: 0 auto;
    /* margin-bottom: 2rem; */
    width: 80%;
    /* margin:4rem 4rem 7rem 4rem; */
    margin: 4rem auto 7rem auto;
}
  .started_title {
   
  
      
      
  }
  .started_text{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5rem;
  }
  .started_collection{
      display: flex;
      /* margin:0 4rem; */
      gap:2rem;
      align-items: center;
      /* margin-bottom: 5rem; */
  }
  .started_collection_img{
    height: 100%;
    width: 100%;
  
    /* margin-left: 4rem; */
    object-fit: contain;
    
  }
  .started_collection_img img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    
    object-fit: cover;
  }
  .started_collection_text{
      text-align: left;
      width:100%;
  }
 
  .realisation_title{
      text-align: center;
  }
  .realisation_container{
    
  }
  .img_content{
    transition: left 2s;            /* propriété qui anime le slide*/
    -webkit-transition: left 2s;
    display:flex ;
    width: 300%; 
    /* top: 0;
    left: 0;
    margin: 0; */
    padding: 0;
    /* justify-content: center; */
    z-index: 10;
  }
  .img_content li{
      display: inline;
  }
  .realisation_display{
   
    padding:3rem 3rem;
    background-color: #69d4e2;
      border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    
      width:60%;
      height: 100%;
      /* background-color: #bedef3; */
      /* align-items: center; */
      position: relative;
    z-index: 7;
    margin-bottom: 5rem;
    min-width: 800px;
    
  }
  .contener_slide .pre, .contener_slide .nxt
{
    position: absolute;    
    z-index: 99;        /**/
 
     
}
.contener_slide{
   
    
   position: relative;
   margin: auto;
   /* overflow: hidden; */
    
}
  .real_img{

    display: none;
    height:100%;
    width: 100%;
    border-radius: 10px;
    /* margin: 4rem auto; */
    max-width: 800px;
    min-height: 470px;
    object-fit: cover;
    /* background:rgb(31, 31, 31); */
    
    /* overflow: hidden; */
    opacity: 0.4;
  }
  #icon_left{
      cursor: pointer;
      position: absolute;
      font-size: 3rem;
      color: white;
      top: 50%;
      left:7%;
      opacity: 0.5;
  }
  #icon_right{
      cursor: pointer;
    position: absolute;
    font-size: 3rem;
    color: white;
    top: 50%;
    z-index: 9;
    right:7%;
    opacity: 0.5;
  }
  #icon_left:hover, #icon_right:hover {
    background-color: rgba(0,0,0,0.8);
    border-radius: 100%;
  }
  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .realisation_img
   {
      /* position:relative; */
    margin-left: auto;
    margin-right: auto;
    /* margin: -1rem auto; */
    /* z-index: 8; */
    /* display: block; */
    height:100%;
    width: 100%;
    min-width:800px;
    
    min-height: 470px;
    background:rgb(31, 31, 31);
    /* overflow: hidden; */
    /* margin-left: 4rem; */
    border-radius: 10px;
    object-fit: contain;
   
    
  }
  
  /* .realisation_img img
{ */
  /* position: absolute; */
  /* margin-left: auto;
    margin-right: auto;
    z-index: 8; */
    /* display: block; */
    /* height:100%;
    width: 100%;
    background:rgb(31, 31, 31);
    overflow: hidden; */
    /* margin-left: 4rem; */
    /* border-radius: 10px;
    object-fit: contain; */
/* } */
  /* .realisation_img img { */
    /* margin:auto; */
    /* height:100%;
    width: 100%;
    border-radius: 10px;
    
    object-fit: cover;
    background:rgb(31, 31, 31);
    overflow: hidden;
    opacity: 0.4; */
  /* } */
  .why_title{
      text-align: center;
  }
  .why_text{
      
    
      text-align: left;
      margin-left: auto;
    margin-right: auto;
    
      width:90%;
  }
  .grid_prop{
      
    margin: 0 4rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
   
  }
  .prop_card{
    margin-top: 3rem;

    position: relative;
    height:450px;
    border-radius: 34px;
    background: #ffffff;
    box-shadow:  17px 17px 34px #b5b5b5,
                 -17px -17px 34px #ffffff;
  }
  .prop_card li{
      margin: 1rem 0;
  }
  .prop_card div{
      color: white;
      margin-top: -1rem;
      padding-bottom: 1rem;
      border-radius: 34px 34px 0px 0px;
      padding-top:
       1rem;
      /* background-color: #67b2e4; */
      text-align: center;
  }
  .prop_card p{
      text-align: center;
  }
  .prop_price{
      margin-top: -0.5rem;
      text-align: center;
      color: black;
      font-size: 40px;
  }
  .prop_basic{
background-color: #94e0ea;
  }
  .prop_standard{
      background-color: #69d4e2;
  }
  .prop_premium{
      background-color: #3ec8da;
  }
  .price_container{ 
      
      position: absolute;
      top: 20rem;
      left: 0%;
      right: 0%;
      
  }
  
  .price p{
      color: black;
  }
  .contact h1{
      text-align: center;
  }
  .contact{
     /* display: flex;
     justify-content: center; */
     margin: 0 auto;
    
  }

  .contact_container{
      /* margin: 0 auto; */
      /* margin-left: 1rem; */
      /* margin: 0rem auto 7rem auto; */
      width:80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      /* margin-bottom: 2rem; */
      margin: 0rem auto 7rem auto;
      background-color:  #bedef3;
      background-color: #B6EAF1;
      background-color: #bfedf3;
      border-radius: 10px;
      padding: 3rem 0rem;
    /* grid-template-columns: repeat(2, 1fr); */      
  }
  .contact_text{
      width: 100%;
    text-align: center;
    font-size: 25px;
  }
  .contact_name{
      margin-left: 2rem;
      width:45%;
  }
  .contact_email{
    width:45%;
}
/* .contact_msg{width: 100%;} */
 .contact_name span{
     
     display: block;
 }
 .contact_name input{
    width: 75%;
    height: 25px;
    padding: 0 14px;
 }
 .contact_email span{
    display: block;
}
.contact_email input{
    width: 75%;
    height: 25px;
    padding: 0 14px;
 }
.contact_msg{
    margin-top: 2rem;
    margin-left: 50%;
    margin-right: 50%;
    width: 100%;
}
.contact_msg span{
    display: block;
}
.contact_msg textarea{
    padding: 13px;
    resize: none;
    height: 200px;
    width: 450px;
}
.contact_submit{
    margin: 0 0.5rem;
    font-family: RobotoFlex,sans-serif;
    font-weight: bolder;
      border-radius: 5px;
      background-color:#0b7dda ;
       border-color: #0b7dda;
      padding: 10px 20px;
      text-decoration: none;
      margin-top: 1rem;
  text-align: center;
  color: #fff;
}

  .nouveautes{
    font-family: RobotoFlex,sans-serif;
    margin: 3rem 4rem 2.5rem;
    font-size: 24px;
  }
  .grid__product{
      margin: 0 4rem 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;

  }
  .product__img{
    width: 100%;
    height: 70%;
    object-fit: contain;
  }
  .product__img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .product__info{
    font-family: RobotoFlex,sans-serif;
    margin-left: 0.5rem;
      line-height: 50%;
  }
  .product__type{
      font-weight:550;
      font-weight: bold;
  }
  .product__price{
      font-weight: 600;
      font-weight: bold;
  }
  .product__genre{
    font-family: Roboto,sans-serif;
    color:lightgrey;
    font-size: 15px;
    font-weight: bold;
   
  }
.ban{
      background-color: red;
      display: flex;
      height:313px;
      align-items: center;
      justify-content: center;
      gap:10rem;
  }
  .ban_p{
    font-family: RobotoFlex,sans-serif;
      width: 600px;
      margin-left: 9rem;
      
  }
  .ban_p p{
      color:white; 
      font-weight: bold;
      width: auto;
      font-size: 38px;
  } 
  .ban_h {
      width: 50%;
  }
  .ban_h button {
    padding:0 1rem;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #00000040;


  }
  .ACTUALITES{
    font-family: RobotoFlex,sans-serif;
    margin: 4rem 4rem 0;
  }
  .city__container{
display: flex;
/* gap:0.5rem; */
margin-left: 1rem;
padding: 3% 7% 5%;
align-items: center;
  }

.city__container__img{
    width: 
    363,25px;
    height: 345,3px;
    object-fit: contain;
}
.city__container__img img{
height: 100%;
    width: 80%;
    object-fit: cover;
}
.city__container__text{
margin-top: 10px;
  font-family: RobotoFlex,sans-serif;
    width:100%;
    align-items:center;
    margin-bottom: 5rem;
    text-align: justify;
    
}
.city__container__text p{
    font-size: 14px;
    font-weight: 510;
    /* gap: 0.5rem; */
    letter-spacing: 0.3px;
    
    margin-bottom: 1.5rem;
}
.city__container__date{
  margin-bottom: 1.3rem;
}
.city__container__date p{
 
  font-family: Roboto,sans-serif;
  color: grey;
  /* color: lightgrey; */
  font-size: 12px;
  font-style:italic;
  font-weight: bold;
  
  /* color: #bebebe; */
}
.city__container__text h1{
font-size:18px;
margin-bottom: 1.5rem;
}
 footer{
     /* margin-left: 1rem; */
     background-color: #B6EAF1;
      display: flex;
      justify-content: space-between;
      color: black;
      gap: 2rem;
      font-weight: bolder;
      height: 88px;
      align-items: center;
      font-family: RobotoFlex,sans-serif;
  }
  footer div{
    margin: 0 4rem;
  }