body {
  margin: 0;
  font-family: roboto, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #B6EAF1;
  width: 100%;
}




.navbar__container {
  height: 100px;
  margin-left: 3em;
  margin-right: 3em;
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  font-size: 1vw;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 3.5rem;

}

nav ul li {
  font-family: RobotoFlex, sans-serif;
  font-weight: bolder;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.navbar__logo {
  height: 45%;
  /* width: 12%; */
  /* min-width: ; */
  max-width: 40%;


  object-fit: contain;
}

.navbar__logo img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.navbar__content {
  /* margin-right: 1rem; */
  max-width: fit-content;

}

.navbar_connect {
  /* margin-left: 3rem; */
  min-width: 11%;
  display: flex;
  /* margin-left: 3rem; */
  max-width: 50%;
  /* justify-content: end; */
  /* margin-right: 3rem; */
  gap: 1rem;
}

input {
  border: none;
  outline: none;
  padding: 10px 5px;
  background-color: #f6f6f6;
  flex: 1;
}

.btn {
  /* color: #ffffff; */
  border-style: none;
  border-radius: 30px;
  padding: 0.8em 1.2em;
  background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%);
  margin-top: 18px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  transition: all 0.3s linear;
}

.btn a {
  color: white;
  text-decoration: none;
}

.btn a:visited {
  text-decoration: none;
}

.btn:hover {
  /* transform: translateY(-2px); */
}



#connect {

  text-align: center;
  width: 100px;
  color: #fff;
  border-radius: 30px;
  padding: 10px 10px;
  background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%);

  font-size: 16px;
  transition: all 0.3s linear;
}

.navbar__icons {
  display: flex;
  margin-left: 10rem;
  gap: 1rem;
}

.hero__image {
  width: 100%;
  height: 400px;
  object-fit: contain;
  background: rgb(31, 31, 31);
  overflow: hidden;

}




.hero__image img {
  height: 100%;
  width: 100%;

  object-fit: cover;
  opacity: 0.4;
}

/* Top right text */
.hero__text {
  margin-top: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 7rem;
  left: 50%;

  transform: translate(-50%);
  /* left: 0;
  right: 0; */
  color: white;
  text-align: center;

}

.hero__text p {
  margin-bottom: 1rem;
  font-family: RobotoFlex, sans-serif;
  font-size: 2em;
  /* font-style:italic; */
  font-weight: bolder;
  /* line-height: 75px; */
  letter-spacing: 0em;
  text-align: justified;

}

.hero__subtext p {
  margin: 0;
  color: rgb(211, 211, 211);
  font-size: 23px;
}

.hero_btn button {
  padding: 0.8em;
  background-color: #0b7dda;
  /* background-color: #B6EAF1; */
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
  /* background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%); */

}

.hero_btn {
  margin-top: 0.5em;
  display: inline-table;

}

.hero_btn button a {
  font-family: RobotoFlex, sans-serif;
  font-weight: bolder;
  font-size: 1em;
  color: white;
  text-decoration: none;
}

.hero_btn:hover {
  transform: translateY(-2px);
  /* background-color: blue; */
}

.hero_btn a:visited {
  text-decoration: none;
}

.dropMenu {

  display: inline-block;
}

.dropMenu button {
  padding: 0.8em;
  font-family: RobotoFlex, sans-serif;
  font-weight: bolder;
  font-size: 1em;
  color: white;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}

/* .hero_btn{
   background:#B6EAF1;
   overflow: hidden;
 } */
.btn:hover, .dropMenu:hover .btn {
  background-color: #1b6698;
}

.started_container {
  text-align: center;
  margin: 0 auto;
  /* margin-bottom: 2rem; */
  width: 80%;
  /* margin:4rem 4rem 7rem 4rem; */
  margin: 4rem auto 7rem auto;
}



.started_text {
  font-size: 20px;
  font-weight: bolder;

  margin-bottom: 5rem;
}

.started_collection {
  display: flex;
  /* margin:0 4rem; */
  gap: 2rem;
  align-items: center;
  /* margin-bottom: 5rem; */
}

.started_collection_img {
  height: 100%;
  width: 100%;


  object-fit: contain;

}

.started_collection_img img {
  height: 100%;
  width: 100%;
  border-radius: 10px;

  object-fit: cover;
}

.started_collection_text {
  text-align: left;
  width: 100%;
}

.realisation_title {
  text-align: center;
}



.img_content {
  transition: left 2s;
  /* propriété qui anime le slide*/
  -webkit-transition: left 2s;
  display: flex;
  /* width: 300%; */
  /* top: 0;
    left: 0;
    margin: 0; */
  padding: 0;
  /* justify-content: center; */
  z-index: 10;
}

.img_content li {
  display: inline;
}

.realisation_display {

  padding: 3rem 0;
  background-color: #69d4e2;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

  width: 60%;
  height: 100%;
  /* background-color: #bedef3; */
  /* align-items: center; */
  position: relative;
  z-index: 7;
  margin-bottom: 5rem;
  /* min-width: 800px; */

}

.contener_slide .pre, .contener_slide .nxt {
  position: absolute;
  z-index: 99;
  /**/


}

.contener_slide {


  position: relative;
  margin: auto;
  /* overflow: hidden; */

}

.real_img {

  display: none;
  /* height: auto; */
  /* max-height: 100%; */
  width: 100%;
  border-radius: 10px;
  /* margin: 4rem auto; */
  /* max-width: 800px; */
  min-height: 470px;
  /* object-fit: cover; */
  /* background:rgb(31, 31, 31); */

  /* overflow: hidden; */
  opacity: 0.4;
}

#icon_left {
  cursor: pointer;
  position: absolute;
  font-size: 3rem;
  color: white;
  top: 50%;
  left: 10%;
  opacity: 0.5;
}

#icon_right {
  cursor: pointer;
  position: absolute;
  font-size: 3rem;
  color: white;
  top: 50%;
  z-index: 9;
  right: 10%;
  opacity: 0.5;
}

#icon_left:hover, #icon_right:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 100%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.realisation_img {
  /* position:relative; */
  margin-left: auto;
  margin-right: auto;
  /* margin: -1rem auto; */
  /* z-index: 8; */
  /* display: block; */
  height: 100%;
  width: 80%;
  /* min-width: 800px;

  min-height: 470px; */
  background: rgb(31, 31, 31);
  /* overflow: hidden; */
  /* margin-left: 4rem; */
  border-radius: 10px;
  object-fit: contain;


}

/* .realisation_img img
{ */
/* position: absolute; */
/* margin-left: auto;
    margin-right: auto;
    z-index: 8; */
/* display: block; */
/* height:100%;
    width: 100%;
    background:rgb(31, 31, 31);
    overflow: hidden; */
/* margin-left: 4rem; */
/* border-radius: 10px;
    object-fit: contain; */
/* } */
/* .realisation_img img { */
/* margin:auto; */
/* height:100%;
    width: 100%;
    border-radius: 10px;
    
    object-fit: cover;
    background:rgb(31, 31, 31);
    overflow: hidden;
    opacity: 0.4; */
/* } */
.why_title {
  text-align: center;
}

.why_text {


  text-align: left;
  margin-left: auto;
  margin-right: auto;

  width: 90%;
}

.grid_prop {

  margin: 0 4rem 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;

}

.prop_card {
  min-width: 29%;
  margin-top: 3rem;

  cursor: pointer;
  position: relative;
  height: 450px;
  border-radius: 34px;
  background: #ffffff;
  box-shadow: 17px 17px 34px #b5b5b5,
    -17px -17px 34px #ffffff;
}

.prop_card li {
  margin: 1rem 0;
}

.prop_card div {
  color: white;
  margin-top: -1rem;
  padding-bottom: 1rem;
  border-radius: 34px 34px 0px 0px;
  padding-top:
    1rem;
  /* background-color: #67b2e4; */
  text-align: center;
}

.prop_card p {
  text-align: center;
}

.prop_price {
  margin-top: -0.5rem;

  color: black;
  font-size: 40px;
}

.prop_basic {
  background-color: #94e0ea;
}

.prop_standard {
  background-color: #69d4e2;
}

.prop_premium {
  background-color: #3ec8da;
}

.price_container {

  position: absolute;
  top: 20rem;
  left: 0%;
  right: 0%;

}

.price p {
  color: black;
}

.contact h1 {
  text-align: center;
}

.contact {
  /* display: flex;
     justify-content: center; */
  margin: 0 auto;

}

.contact_container {
  /* margin: 0 auto; */
  /* margin-left: 1rem; */
  /* margin: 0rem auto 7rem auto; */
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-bottom: 2rem; */
  margin: 0rem auto 7rem auto;
  background-color: #bedef3;
  background-color: #B6EAF1;
  background-color: #bfedf3;
  border-radius: 10px;
  padding: 3rem 0rem;
  /* grid-template-columns: repeat(2, 1fr); */
}

.contact_text {
  width: 90%;
  text-align: center;
  font-size: 25px;
}

.contact_name {
  /* margin-left: 2rem; */
  width: 45%;
}

.contact_email {
  width: 45%;
}

/* .contact_msg{width: 100%;} */
.contact_name span {

  display: block;
}

.contact_name input {
  width: 75%;
  height: 25px;
  padding: 0 14px;
}

.contact_email span {
  display: block;
}

.contact_email input {
  width: 75%;
  height: 25px;
  padding: 0 14px;
}

.contact_msg {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.contact_msg span {
  display: block;
}

.contact_msg textarea {
  padding: 13px;
  resize: none;
  height: 200px;
  width: 90%;
  min-width: 153px;
  max-width: 90%;
}

.contact_submit {
  margin: 0 0.5rem;
  font-family: RobotoFlex, sans-serif;
  font-weight: bolder;
  border-radius: 5px;
  background-color: #0b7dda;
  border-color: #0b7dda;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 1rem;
  text-align: center;
  color: #fff;
  margin-left: 50%;
  margin-right: 50%;
}

.bubble {
  position: relative;
  width: 80%;
  margin: 5rem auto;
  /* height: 120px; */
  padding: 0px;
  background: #B6EAF1;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.bubble_title {
  padding-top: 1rem;
  margin: 2rem auto;
  text-align: center;
}

.bubble_content {
  text-align: center;
}

.bubble_btn {
  text-align: center;
  padding-bottom: 1rem;
}

.bubble:after {
  content: '';
  position: absolute;

  border-style: solid;
  border-width: 40px 31px 0;
  border-color: #B6EAF1 transparent;
  border-radius: 5px;
  /* background: #B6EAF1; */
  display: block;
  width: 0;
  z-index: 1;
  bottom: -25px;
  left: 90%;
}


footer {
  /* margin-left: 1rem; */
  background-color: #B6EAF1;
  display: flex;
  justify-content: space-evenly;
  color: black;
  /* gap: 2rem; */
  font-weight: bolder;
  height: 88px;
  align-items: center;
  font-family: RobotoFlex, sans-serif;
}

footer div {
  margin: 0 2em;
}




@media screen and (max-width: 768px) {
  .navbar__content {
    display: none;
  }

  .realisation_container {
    display: none;
  }

  .grid_prop {
    display: block;
  }

  .prop_card {
    /* min-width: 50%; */
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
  }

  /* .navbar__container {
    margin-left: 2rem;
    font-size: 10px;
    margin-right: 2rem;
  }

  .navbar__logo {
    width: auto;
  }

  

  .navbar__content nav ul {
    gap: 2rem;
  }

  .navbar_connect {
    margin-left: 1rem;
    margin-right: 0;
    gap: 1rem;
  }

  .navbar_connect .btn {
    padding: 8px 12px;
    font-size: 12px;
  }

  

  .grid_prop {
    font-size: 12px;
    gap: 3rem;
    margin: 0 1rem 4rem;
  }

  .prop_card div {
    margin-top: -3rem;
    padding-bottom: 1rem;
  } */
}

@media screen and (max-width: 576px) {
  .prop_card {
    /* min-width: 50%; */
    max-width: 80%;

  }

  .started_collection {
    display: block;
  }

  .started_collection_text {
    text-align: center;
  }


  /* .navbar__logo {
    width: 35%;
  }

  .navbar__content {
    display: none;
  }

  .navbar__container {
    max-width: 100%;
    justify-content: space-between;
  }

  .hero__image img {
    opacity: 0.5;
  }

  
  .grid_prop {
    display: block;
  }

  .prop_card {
    font-size: 15px;
    margin-right: auto;
    margin-top: 5rem;
    width: 80%;
    margin-left: auto;
  }

  .prop_card div {
    margin-top: -1rem;

  }

  footer div {
    margin: 0 2rem;
  }

  .hero_btn {
    margin-right: 1rem;
  }

  .contact_text {
    margin: 0 1rem;
  }

  .contact_msg {
    margin-left: 25%;
    margin-right: 50%;
    width: 50%;
  }

  .contact_msg textarea {
    width: 315px;
  }

  .realisation_container {
    display: none;
  }

  .realisation_display {
    padding: 3rem 1rem;
    width: 80%;
  }

  .real_img {
    width: 368.625px;
    
  } */
}



@media screen and (max-width: 360px) {
  .btn {
    font-size: 11px;
  }

  .contact_container {
    gap: 1em;
  }

  .contact_email {
    white-space: nowrap;
  }

  .grid_prop {
    margin: 0 2rem 4rem;
  }

  /* .navbar__container {
    margin-left: 2rem;
    justify-content: space-between;
  }

  .navbar__logo {
    width: 40%;
  }

  

  .navbar_connect .btn {
    padding: 9px 12px;
    font-size: 13px;
  }


  .hero__text p {
    margin: 0 1rem;

    font-size: 25px;
  }

  .hero__subtext {
    margin-top: 1rem;
  }

  .hero__subtext p {
    margin: 0 1rem;

    font-size: 18px;
  }

  .hero_btn button {
    padding: 10px;
  }

  .hero_btn button a {
    font-size: 15px;
  }

  .dropMenu button {
    font-size: 14.5px;
    padding: 11px;
  }

  .grid_prop {
    margin: 0 2rem 4rem;
    height: 373px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .contact_container {
    width: 90%;
  }

  .contact_name {
    margin-left: 0;
  }



  .contact_msg {
    margin-left: 10%;
    width: 268px;
  }

  .contact_msg textarea {
    width: 202px;
  }

  footer div p {
    font-size: 9px;
    margin: 0;
    gap: 0;
  }

  .realisation_container {
    display: none;
  } */


}




@media screen and (max-width: 992px) {
  .prop_card {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 400px) {
  /* .btn {
    font-size: 12px;
  } */

  .hero_btn button {
    font-size: 1rem;
  }

  .prop_card {
    max-width: none;
  }

  footer div {
    margin: 0 1em;
    font-size: 0.8em;
  }

}